* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

body {
  background-color: rgba(17, 192, 133, 0.484);
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
}

.container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  background-color: rgba(6, 6, 6, 0.292);
  border-radius: 10px;
  height: auto;
}

h1 {
  text-decoration: underline;
  align-self: self-start;
}

input {
  background-color: rgba(0, 0, 0, 0.646);
  color: white;
  font-size: 17px;
  width: 300px;
  margin-right: 20px;
  padding: 5px;
  border-radius: 10px;
}

input::placeholder {
  opacity: 0.8;
  color: white
}

.user {
  height: 70px;
  padding: 10px 20px;
  border-bottom: 2px solid rgb(109, 118, 99);
}

button {
  display: inline-block;
  font-size: 15px;
  width: auto;
  padding: 7px;
  border-radius: 10px;
  background-color: rgba(84, 81, 81, 0.74);
  color: rgba(255, 255, 255, 0.71)
}

button:hover {
  color: white;
  background-color: rgb(21, 19, 19);
  transform: scale(1.05);
  cursor: pointer;
  border: 1px solid black;
  box-sizing: border-box
}

#easy {
  height: 120px;
  width: 120px;
  background: conic-gradient(rgb(1, 199, 1) var(--progress-degree), #283a2e 0%);
  display: inline-block;
  margin: 20px;
  border-radius: 10000px;
  text-align: center;
  align-content: center;
  border: 3px solid rgb(89, 255, 89);
}

#medium {
  height: 120px;
  width: 120px;
  background: conic-gradient(rgb(1, 199, 1) var(--progress-degree), #283a2e 0%);
  display: inline-block;
  margin: 20px;
  border-radius: 10000px;
  text-align: center;
  align-content: center;
  border: 3px solid rgb(225, 255, 53);
}

#hard {
  height: 120px;
  width: 120px;
  background: conic-gradient(rgb(1, 199, 1) var(--progress-degree), #283a2e 0%);
  display: inline-block;
  margin: 20px;
  border-radius: 10000px;
  text-align: center;
  align-content: center;
  border: 3px solid rgb(245, 5, 5);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px;
  align-content: center;
  justify-content: center;
  gap: 10px;
}

.cards div {
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(70, 103, 91);
  height: 40px;
  padding: 10px;
  border-radius: 8px;
}

@media screen and (max-width:890px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:640px) {
  .cards {
    display: grid;
    grid-template-columns: 245px 245px;
  }

  .container {
    width: 510px;
  }

  .user {
    padding: 0px;
    justify-items: space-between;
  }

  #easy,
  #medium,
  #hard {
    margin: 5px
  }

  input {
    width: 250px;
    font-size: 15px;
  }
}

@media screen and (max-width:515px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr;
  }

  #easy,
  #medium,
  #hard {
    height: 100px;
    width: 100px;
  }

  input {
    width: 200px;
    font-size: 13px;
  }
}

@media screen and (max-width:440px) {

  #easy,
  #medium,
  #hard {
    display: block;
  }

  input {
    width: 150px;
  }

  button {
    font-size: 11px;
  }

  .cards {
    display: grid;
    grid-template-columns: 230px;
  }

  .cards div {
    font-size: 14px;
  }
}

@media screen and (max-width:370px) {
  .container {
    width: 100%;
    max-width: 370px;
  }

  .user {
    margin-top: 15px;
  }
}

@media screen and (max-width:346px) {
  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
  }

  button {
    width: auto;
    margin: auto;
  }
}
